/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    gap: 30px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: auto;
}

.main-container main{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.title-h3 {
    font-size: 18px;
    font-weight: 700;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header ******/
.header-nav {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
}

.header-nav div{
    width: 11.2%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 30px 0;
}

.header-nav div img{
    width: 61.09px;
    height: 19px;
}

.header-nav nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 68px;
    width: 23.9%;
    height: 35px;
}
.header-nav nav a{
    padding-top: 16px;
    border-top: 2px solid transparent;
}
.header-nav nav a:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}


/****** Recherche d'hébergement ******/
.accomodation-search {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.accomodation-search-bar {
    width: 375px;
    height: 47px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid var(--main-bg-color);
}

.accomodation-search-bar div i{
    width: 50px;
    height: 48px;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.accomodation-search-bar form input{
    width: 195px;
    height: 47px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    
}
.accomodation-search-bar form input::placeholder{
    color: black;
}

.accomodation-search-bar .search-btn-main{
    width: 132px;
    height: 48px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
}

.accomodation-search-bar .search-btn-mobile{
    width: 49px;
    height: 48px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    border: var(--main-color);
    font-size: 17px;
    display: none;
}

.accomodation-filters {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 15px;
}

.filters-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.filters-buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: transparent;
    height: 49px;
    padding: 4px 19px;
}

.filters-buttons button span{
    font-size: 17px;
    font-weight: 700;
}

.filters-buttons button:hover{
    background-color: var(--filter-bg-color);
}

.accomodation-infobar {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.fa-circle-info {
    display: flex;
    color: white;
    background-color: var(--main-color);
    border: 4px solid #D9D9D9;
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}


/****** Hebergements And Populaires ***********/
#hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

#hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards article{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.hebergements-cards a{
    width: 30.87%;
    margin: 30px 0;
    height: 207.25px;
}

.hebergements-cards img{
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.hebergements-cards .hebergements-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 15px;
    box-sizing: border-box;
}

.hebergements .title-h3{
    height: 21px;
}

.hebergements-cards .card-title {
    margin: 0;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ******/

#id-activites{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.activites-cards {
    width: 100%;
    height: 439px;
    display: flex;
    gap: 30px;
}

.activites-cards a{
    width: 23.24%;
    height: 100%;
}

.activites-cards article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.activites-cards article img{
    width: 100%;
    height: 86.56%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards article h3{
    padding-left: 19px;
}


/****** Footer ******/

.footer-main {
    width: 100%;
    height: 163px;
    display: flex;
    background-color: var(--main-bg-color);
}

.footer-main div{
    display: flex;
    flex-direction: column;
    width: 33.28%;
    padding: 0 20px;
}

.footer-main div a{
    margin-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

/****** Recherche d'hébergement ******/
    .accomodation-filters {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .accomodation-filters h3{
        display: flex;
    }

    .filters-buttons .nos-pepites {
        background-color: var(--filter-bg-color);
    }

/****** Hebergements And Populaires ***********/
    #hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

/****** Activités ******/
    #id-activites {
        max-width: 924px;
        width: 100%;
    }
    .activites-cards {
        width: 93.5%;
        height: 270px;
    }
    .activites-cards article img{
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px)  {

/****** Général ******/

.main-container{
    padding: 0;
}

.main-container main{
    gap: 30px;
}

/****** Header ******/
    .header-nav{
        flex-direction: column;
        align-items: center;

    }

     .header-nav div{
        display: flex;
        width: 17.26%; 
        justify-content: center;
        padding: 30px;
    }

    .header-nav nav{
        width: 100%;
        gap: 0;
        padding: 10px 0;
    }

    .header-nav nav a{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        border-bottom: 2px solid var(--main-bg-color);
        border-top: 0;
    }


    .header-nav nav a:hover{
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        width: 100%;
    }

/****** Recherche d'hébergement ******/
    .accomodation-search{
        padding: 0 20px;
    }

    .search-btn-main{
        display: none;
    }

    .accomodation-search-bar{
        width: auto;
    }

    .accomodation-search-bar form{
        display: flex;
        flex-grow: 1;
    }

    .accomodation-search-bar form input{
        flex-grow: 1;
    }

    .accomodation-search-bar .search-btn-mobile{
        display: flex;
    }

    .accomodation-filters{
        gap: 20px;
    }

    .filters-buttons{
        gap: 10px;
    }

    .filters-buttons button{
        width: 162.5px;
    }

/****** Hebergements And Populaires ***********/
    #hebergements-and-populaires{
        gap: 15px;
    }

    #hebergements-and-populaires section{
        padding: 20px;
    }

    .populaires-cards{
        flex-direction: column;
    }
    .populaires-cards .card{
        margin-top: 15px;
        
    }

    .populaires-cards a{
        width: 100%;
    }

    .populaires{
        order: 1;
    }

    #hebergements-and-populaires .hebergements{
        order: 2;
        background-color: transparent;
    }

    .hebergements-cards{
        flex-direction: column;
    }
    .hebergements-cards a{
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }
    .hebergements .title-h3{
        margin-top: 30px;
        
    }

/****** Activités ******/
    #id-activites{
        box-sizing: border-box;
        padding-top: 0;
    }

    .activites-cards{
        width: 100%;
        height: auto;
        flex-direction: column;
        
    }
    .activites-cards a{
        width: 100%;
    }
    .activites-cards article{

    }
    .activites-cards article img{
        height: 141px;
    }

/****** Footer ******/
    .footer-main {
        flex-direction: column;
        padding: 30px;
        box-sizing: border-box;
        gap: 50px;
        height: auto;
    }

    .footer-main div{
        padding: 0;
        width: 100%;
    }
}